name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag rstudio:$(date +%s)
      
    - name: Build the Docker image and Push
      uses: mr-smithers-excellent/docker-build-push@v6
      with:
        image: mdebasish/rstudio
        tags: 4.4.3
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
